## Copy it into /etc/systemd/system/soulkiller.service
[Unit]
Description=Soulkiller NVIDIA crash detector
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/
Restart=always
RestartSec=10

Type=simple
ExecStart=/sbin/soulkiller

[Install]
WantedBy=multi-user.target


